body { 
	visibility: hidden 
}

.navmargin {
	margin-top: 2em;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 1em;
}

h2, h3 {
	margin-top: 2em;
}

h4 {
	margin-top: 3em;
}

h2 {
    white-space: normal;
}

h1.title-box {
	margin-top: 0;
	margin-bottom: 0;
}